* {
	margin: 0;
	padding: 0;
}
header {
	background:  url(../Image/background.png);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

body .logo{
	width: 900px;
	height: 300px;
	top: 10%;
	left: 20%;
	position: absolute;
}

table{
	width:100%;
	margin-top:100px;
}

.selectButton{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 65%;
	font-size:40px;
	border: solid 5px white;
	background:  rgba(0, 195, 255, 0.4);
	cursor: pointer;
}

